<ion-view view-title="الأحداث">
  <div class="bar bar-subheader item-input-inset search mainBgColor">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon mainTextColor"></i>
      <input type="search" placeholder="البحث" ng-model="searchText">
    </label>
  </div>
  <ion-content class="has-subheader">
    <ion-list class="facts_list">
      <ion-item ng-repeat="event in events | filter:searchText"" href="#/app/playlists/{{event.id}}">
        <div class="facts">
          <div class="facts_img" style="background:url({{event.img}})"></div>
          <div class="short_desc secBgColor">
            <p>النوع: {{event.type}}</p>
          </div>
          <div class="img_description text-center">
            <p class="cards_name mainTextColor">{{event.name}}</p>
            <p class="whiteColor">المكان: {{event.country}}</p>
          </div>
          <div class="description">
            <p class="content_description">{{event.description}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
