  <ion-content class="homeBg padding text-center" scroll="false">
      <h3 class="mainTextColor homee"> مرحبًا بك في منصه Info Cards</h3>
      <p class="whiteColor">ــ أكبر منصة اثرائية وتثقيفية فى العالم العربى ــ</p>
      <div class="item-input-inset search">
          <label class="item-input-wrapper">
              <i class="icon ion-ios-search placeholder-icon mainTextColor"></i>
              <input type="search" placeholder="البحث" ng-model="searchText">
          </label>
      </div>
      <div class="loginBtns padding">
          <a href="#/app/facts" class="button button-full whiteColor secBgColor">دخول</a>
      </div>
  </ion-content>
