  <ion-content class="homeBg padding text-center" scroll="false">
      <h3 class="mainTextColor homee"> مرحبًا بك في منصه Info Cards</h3>
      <p class="whiteColor">ــ أكبر منصة اثرائية وتثقيفية فى العالم العربى ــ</p>
      <div class="list homeList whiteColor padding text-center">
          <a class="item item-icon-right" href="#/app/facts">
              <i class="icon ion-eye mainTextColor"></i> الحقائق والمفاهيم
          </a>
          <a class="item item-icon-right" href="#/app/places">
              <i class="icon ion-image mainTextColor"></i> الأماكن والمعالم
          </a>
          <a class="item item-icon-right" href="#/app/chars">
              <i class="icon ion-ios-people mainTextColor"></i>الشخصيات
          </a>
          <a class="item item-icon-right" href="#/app/events">
              <i class="icon ion-ios-clock mainTextColor"></i>الأحداث
          </a>
          <a class="item item-icon-right" href="#/app/organizations">
              <i class="icon ion-flag mainTextColor"></i>المنظمات
          </a>
      </div>
      <div class="loginBtns padding">
          <a href="#/app/facts" class="button button-full whiteColor secBgColor">دخول</a>
      </div>
  </ion-content>
