<ion-content class="loginBg padding">
  <div class="loginContent">
    <div class="logo">
      <img src="../img/logo.png">
    </div>
    <div class="list">
      <label class="item item-input mainTextColor">
        <input type="text" placeholder="الأسم">
      </label>
      <label class="item item-input mainTextColor">
        <input type="password" placeholder="كلمة المرور">
      </label>
    </div>
<!--    <div class="row loginBtns">-->
      <div class="loginBtns">
        <a href="#/home" class="button button-full whiteColor secBgColor">دخول</a>
      </div>
      <div class="loginBtns">
        <a href="#/register" class="button button-full whiteColor mainBgColor">التسجيل</a>
      </div>
      <div class="loginBtns">
        <a href="#/forgetpass" class="button button-full button-clear whiteColor">نسيت كلمه المرور؟</a>
      </div>
<!--    </div>-->
  </div>
</ion-content>

